body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #2980b9;
}

nav {
    text-align: center;
    margin: 10px 0;
}

nav a {
    text-decoration: none;
    color: #555;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #3498db;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #3498db;
}

p {
    line-height: 1.6;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        margin: 5px;
    }

    section {
        margin: 10px;
    }
}
.photo-gallery {
    background-color: #f9f9f9;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photo-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo-container img {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.photo-container img:hover {
    transform: scale(1.1);
}
.content {
    margin-bottom: 130px; /* Add more bottom margin to create space between content and footer */
}

#titulli{
    color: #333;
}